:root {
  --primary: #1D3557;
  --secondary: #457B9D;
  --bg: #F1FAEE;
  --accent: #E63946;
  --text: #ffffff;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg);
  color: var(--primary);
}

.admin-header {
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.admin-header button {
  background-color: var(--accent);
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.admin-card {
  background-color: var(--secondary);
  color: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.admin-card:hover {
  transform: translateY(-5px);
  background-color: #365f85;
}

.admin-card h2 {
  margin-top: 0;
}


input {
  width: 200px;
  height: 30px;
  background-color: lightgray;
}

textarea {
  
}